<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Page content of course! -->
    {{ content }}

    <footer class="container" role="contentinfo">
        <div class="row bs-masthead-links">
            <div class="links col-sm-10 col-sm-offset-1">
                <p class="text-center">
                    <a href="https://www.facebook.com/Classmatescom" target="_new">Like us on Facebook</a> |
                    <a href="http://pinterest.com/classmates/" target="_new">Fun stuff on Pinterest</a> |
                    <a href="https://twitter.com/Classmates" target="_new">Follow us on Twitter</a>
                </p>
            </div>
            <div class="links col-md-10 col-md-offset-1">
                <p class="text-center">
                    <a href="http://schoolfeed.classmates.com/">schoolFeed</a> |
                    <a href="http://www.classmates.com/about">About&nbsp;Us</a> |
                    <a href="http://www.classmates.com/sitesearch/help">Help</a> |
                    <a href="http://www.classmates.com/about/terms">Terms&nbsp;of&nbsp;Service</a></span> |
                    <a href="http://www.classmates.com/about/privacy">Privacy&nbsp;Policy</a> |
                    <a href="https://plus.google.com/+classmates/posts" target="_new">Google+</a> |
                    <a href="http://instagram.com/classmates" target="_new">Instagram</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
